ul{

}

header {
	background: #b1b1b1;
}

nav li{
	display: inline;
	padding-left: 15px;
}

nav a{
	color: #000000;
	text-transform: uppercase;
	font-weight	: bold;
	font-size: 	22px;
	text-decoration: none;
}