header {
	background: #b1b1b1;
}

nav li{
	display: inline;
	padding-left: 15px;
}

nav a{
	color: #000000;
	text-transform: uppercase;
	font-weight	: bold;
	font-size: 	22px;
	text-decoration: none;
}

nav{
	position: absolute;
	top: 110px;
	right: 0px;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

