strong{

  color: #FF0000;
}

.principal{
	padding: 30px;
  	background: #CCCCCC;
}

.beneficios{
	background: #CCCCCC;
	padding: 20px;
}
p {
	text-align:center;
}

h1{ 
	text-align: center;
 }

#missao{
	font-size: 30px;
}

#banner{
	width: 100%;
}

.itens{
	font-style: italic;
}

.imagembeneficios{
	width: 50%;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

h2{
	text-align: center;
}